<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title><%- referrer %> vous invites à rejoindre le jeu de pronostics foot ZaniBet</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/images/apple-touch-icon.png">
    <link rel="shortcut icon" type="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/image/ico" href="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/images/favicon.ico" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/css/themify-icons.css">
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/css/magnific-popup.css">
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/css/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/css/normalize.css">
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/style.css">
    <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/css/responsive.css">
    <script src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/js/vendor/modernizr-2.8.3.min.js"></script>

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#primary-menu">

    <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <!--Mainmenu-area-->
    <div class="mainmenu-area" data-spy="affix" data-offset-top="100">
        <div class="container">
            <!--Logo-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand logo">
                    <h2>ZaniBet</h2>
                </a>
            </div>
            <!--Logo/-->

        </div>
    </div>
    <!--Mainmenu-area/-->


    <!--Header-area-->
    <header class="header-area overlay full-height relative v-center" id="home-page">
        <div class="container">
            <div class="row v-center">
                <div class="col-xs-12 col-md-7 header-text">
                    <h2>Code d'invitation : <%- invitationCode %></h2>
                    <p><%- referrer %> vous invites à rejoindre ZaniBet, un jeu de paris sportifs 100% gratuit avec des cagnottes en argent réel. En validant son code d’invitation vous recevrez <%- montant %> ZaniCoins, directement échangeable dans la boutique contre de l’argent ou des cartes cadeaux.<br><br><b>Télécharger ZaniBet sur le store de votre téléphone</b></p>
                    <a href="https://play.google.com/store/apps/details?id=eu.devolios.zanibet" class="button white"><span class="ti-android"></span> Download on Google Play</a>
                    <a href="https://itunes.apple.com/fr/app/zanibet/id1321151766?ls=1&mt=8" class="button white"><span class="ti-apple"></span> Download on Apple Store</a>

                </div>
                <div class="hidden-xs hidden-sm col-md-5 text-right">
                    <div class="screen-box screen-slider">
                        <div class="item">
                            <img src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/images/screen-1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/images/screen-2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/images/screen-3.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/images/screen-4.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/images/screen-5.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header-area/-->


    <!--Vendor-JS-->
    <script src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/js/owl.carousel.min.js"></script>
    <script src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/js/contact-form.js"></script>
    <script src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/js/jquery.parallax-1.1.3.js"></script>
    <script src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/js/scrollUp.min.js"></script>
    <script src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/js/magnific-popup.min.js"></script>
    <script src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="https://s3-eu-west-1.amazonaws.com/zanibet/referrer/js/main.js"></script>
</body>

</html>
