<% addScripts(['fixtures.js']) %>

<%- include('../shared/header') %>
<%- include('../shared/sidebar') %>
<!-- #Main ============================ -->
<div class="page home-page">
<%- include('../shared/navbar') %>
<!-- Counts Section -->
<section class="dashboard-counts section-padding">
  <div class="container-fluid">

  </div>
</section>
<%- include('../shared/footer') %>
